body {
background: #3B0270;
color: #E9B3FB;
display: flex;
flex-direction: column;
align-items: center;
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: min(90vw, 420px);   
  margin-inline: auto;      
  text-align: center;      
}
.city-dropdown, .information {
  margin-top: 20px;
  padding: 15px;
  width: 390px;
 font-family: "Poiret One", sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  background-color: #FFF1F1;
  color: #3B0270;
  width: 100%;
  box-sizing: border-box; 
}
.information {
display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
 align-items: center;
}
h5{
  margin: 0;
  flex-wrap: wrap;
  font-size: 25px;
}
.left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.time {
  font-size: 45px;
  gap: 10px;
}

hr{
  color:  #FFF1F1;
}
a{
  color: #E9B3FB;
}